.contacts {
  display: flex;

&__item:not(:last-child) {
  margin-right: 50px;
}

&__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding-top: 32px ;
  padding-bottom: 32px;

  color: var(--paragraph-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.02em;

  transition: color 250ms var(--transition-timing-function);
}
&__link:hover, &__link:focus {
  color: var(--second-color);
}
&__icon-envelop {
  fill: currentColor;
}
&__icon-envelop:hover,
&__icon-envelop:focus {
  fill: currentColor;
}
&__icon-tel {
  fill: currentColor;
}
&__icon-tel:hover,
&__icon-tel:focus {
  fill: currentColor;
}
}