 /*Customers*/
 .customers {
    @extend %container;

 &__title {
    margin-bottom: 50px;
}
&__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
&__item {
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
}
&__link {
    display: inline-block;
    padding: 13px 32px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon-border-color);
    border-radius: 4px;
    fill: var(--icon-border-color);
    background-color: var(--accent-color);
    flex-basis: calc((100% - 10px*5) / 6);

    transition: border-color 250ms var(--transition-timing-function), fill 250ms var(--transition-timing-function);
}
&__icon {
    margin: 0px;
}

&__link:hover,
&__link:focus {
    fill: var(--second-color);
    border-color: var(--second-color);
}
 }