 /*Logo*/
 .logo {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);
    text-decoration: none;

 @media screen and (min-width: 1200px) {
    font-size: 26px;
    }
}
.logo-header {
    margin-right: 88px;

@media screen and (min-width: 1200px) {
    margin-right: 93px;
    }
}
.logo-footer {
    display: inline-block;
    margin-bottom: 20px;
}
.logo--blue {
    color: var(--second-color);
}
.logo--black {
    color: var(--main-accent-color);
}
.logo--white {
    color: var(--accent-color);
}