.section {
    // padding: 94px 0px;
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }

&__title {
    font-weight: 700;
    //font-size: 42px;
    font-size: 28px;
    line-height: calc(33/28);
    text-align: center;

    //mobile screen
    @media screen and (min-width: 480px) {
        width: 480px;
    }
    //tablet screen
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    //desktop screen
    @media screen and (min-width: 1200px) {
        width: 1170px;
        font-size: 36px;
    }
}
}
.page-header {
    background: var(--accent-color);
    border-bottom: 1px solid var(--border-bottom-header);
}
.section-hero {
    width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--hero-footer-background);
    background-image: url(../images/gradient.svg), url(../images/bg-img.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.section-whatwedo {
    padding-top: 0px;
}
.section-portfolio {
    display: flex;
}
.section-ourteam {
    background-color: var(--background-color);
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--hero-footer-background);
}