html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    letter-spacing: 0.03em;
}
img {
    display: block;
}