h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}
ul {
    margin: 0px;
    padding: 0px;
}
.link {
    text-decoration: none;

    transition: color 250ms var(--transition-timing-function);
}
.list {
    list-style: none;
}
.item {
    list-style: none;
}
.link:hover, .link:focus {
   color: var(--second-color); 
}
a {
    text-decoration: none;
}